@import "reset.less";
@import "font.less";

@red: #f00;
@blue : blue;
@white: white;
@black: black;
@grey: #A9A9A9;

@titre:3em;
@titre2:2em;
@id : 1em;
@line2:1.3em;

@top: 50px;
@blcTourn : 20%;
@blcTourn2: 5%;

@val1: 10px;
@val2: 5px;
@val3: 20px;

@hauteur:1360px;


@font-face {
        .fontface(WorkSans-Medium, WorkSans-Medium);
        }
@font-face {
        .fontface(Computer-modern, cmunorm);
        }

body {

  //gif
  div#message_gif {



    div.contentB {
      position: fixed;
      z-index : 2;
      top:25%;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 1;
      box-shadow: @val1 @val1 @val3 @grey;
      background-color:@white;
      img{
      max-width: 50vw;
      }
    }
  }



  //client A
  div#message_clientA {


    p {


      div.contentA {
        padding: @blcTourn2;
        //padding-top: @blcTourn;
        //width: 768px;
        height: @hauteur/2;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }

      }

      div.contentB {
        padding: @blcTourn2;
        padding-left: @blcTourn;
        //width: 768px;
        height: @hauteur/2;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }

      }

      div.contentC {
        padding: @blcTourn2;
        padding-left: @blcTourn + 20%;
        //width: 768px;
        height: @hauteur/3;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }

      }

    }
  }

    div#message_clientB {


      p {


        div.contentA {
          padding: @blcTourn2;
          //padding-top: @blcTourn;
          //width: 768px;
          height: @hauteur/3;
          img {
            //min-width: 50vw;
            //min-height: 50vw;
          }

        }

        div.contentB {
          padding: @blcTourn2;
          padding-left: @blcTourn;
          //width: 768px;
          height: @hauteur/3;
          img {
            //min-width: 50vw;
            //min-height: 50vw;
          }

        }

        div.contentC {
          padding: @blcTourn2;
          padding-left: @blcTourn + 20%;
          //width: 768px;
          height: @hauteur/3;
          img {
            //min-width: 50vw;
            //min-height: 50vw;
          }

        }
      }
    }

    // client C

    div#message_clientC {

      //width:500px;
      //height: 200px;
      //background-color: @blue;


      min-width: 100vw;
      min-height: 100vw;
      background-color: @white;

      }

}
