@import "reset.less";
@import "font.less";

@red: #f00;
@blue : blue;
@white: white;
@black: black;

@titre:3em;
@titre2:2em;

@top: 50px;
@blcTourn : 10%;


@font-face {
        .fontface(WorkSans-Medium, WorkSans-Medium);
        }

body {


  //home
  div#message_home {
    //padding:10%;
    font-family: "WorkSans-Medium";
    font-size: @titre;
    color: @black;

    div.gif {
      img {
      width: 100%;
     height: auto;
        }
      }

    p {
      div.titre {

        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      div.titre2 {
        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      }

      div.space {
        padding:200px;
      }
    }


  //client A
  div#message_clientA {

    p {

      // images
      div.full {
        /*img {
          min-width: 100vw;
        }*/
      }
      div.titre {

        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      div.titre2 {
        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      }
        div.space {
          //background-color: @red/2;
          height: @top;
          //width: 100%;
        }
    }
  }

  // client B
  div#message_clientB {
    padding:10%;
    p {

      // images
      div.full {
        img {
          min-width: 100vw;
        }
      }

      div.titre {

        font-family: "WorkSans-Medium";
        font-size: @titre;
        color: @blue;
        padding-top: @top;
        }
      div.titre2 {
        font-family: "WorkSans-Medium";
        font-size: @titre;
        color: @red;
        padding-top: @top;
        }
      div.space {
        //background-color: @red/2;
        height: @top;
        //width: 100%;
      }
    }
  }

  // client C

  div#message_clientC {

    //width:500px;
    //height: 200px;
    //background-color: @blue;


    min-width: 100vw;
    min-height: 100vw;
    background-color: @white;

    }

  div#message_clientD {

          min-width: 100vw;
          min-height: 100vw;
          //background-color: @blue;
          p {

            //pulse
            div.pulse {

            }

            // images
            div.full {
              img {
                min-width: 100vw;
              }
            }
            div.fourchan {

              img {
                display: block;
                margin: 0 auto;
                min-width: 10%;
              }
            }

            div.gif {

              }

            div.unicode {

              font-size: 5em;
            }

            // texte animé
            div.text-bounce {

              }

            // texte

            div.titre {
              font-family: "WorkSans-Medium";
              font-size: 5em;
              color: @blue;
            }

            div.chat {

              }

            div.mot {
                color:@red;
                text-decoration: line-through;
                }

            div.phrase {
              animation-duration: 3s;
              animation-name: slidein;
              animation-iteration-count: infinite;
                }
            div.pulse {
              color:@red;
              width: 400px;
              height: 400px;
              animation: pulse 5s infinite;
              }
              @keyframes pulse {
              0% {
              background-color: @red;
                }
              100% {
              background-color: @blue;
                }
              }

              div.blink {
              animation: blink-animation 1s steps(5, start) infinite;
              -webkit-animation: blink-animation 1s steps(5, start) infinite;
              }
              @keyframes blink-animation {
                to {
                  visibility: hidden;
                }
              }
              @-webkit-keyframes blink-animation {
                to {
                  visibility: hidden;
                }
              }
            }

        }

}
