/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../fonts/WorkSans-Medium.eot');
  src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Medium.woff') format('woff'), url('../fonts/WorkSans-Medium.ttf') format('truetype'), url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computer-modern';
  src: url('../fonts/cmunorm.eot');
  src: url('../fonts/cmunorm.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunorm.woff') format('woff'), url('../fonts/cmunorm.ttf') format('truetype'), url('../fonts/cmunorm.svg#Computer-modern') format('svg');
  font-weight: normal;
  font-style: normal;
}
body div#message_home img {
  width: 100%;
  height: auto;
}
body div#message_clientA p div.contentA {
  font-family: "Computer-modern";
  font-size: 1em;
  padding: 5%;
  color: black;
}
body div#message_clientA p div.contentA img {
  max-width: 100vw;
}
body div#message_clientA p div.contentA article {
  font-family: "WorkSans-Medium";
  font-size: 2em;
  line-height: 1.3em;
  color: black;
  padding: 50px;
  margin-bottom: 10%;
}
body div#message_clientA p div.contentB {
  margin-left: 200px;
  font-family: "Computer-modern";
  font-size: 1em;
  padding: 5%;
  color: blue;
}
body div#message_clientA p div.contentB img {
  max-width: 100vw;
}
body div#message_clientA p div.contentB article {
  font-family: "WorkSans-Medium";
  font-size: 2em;
  color: blue;
  padding: 50px;
  margin-bottom: 10%;
}
body div#message_clientA p div.contentC {
  margin-left: 400px;
  font-family: "Computer-modern";
  font-size: 1em;
  padding: 5%;
  color: #f00;
}
body div#message_clientA p div.contentC img {
  max-width: 100vw;
}
body div#message_clientA p div.contentC article {
  font-family: "WorkSans-Medium";
  font-size: 2em;
  color: #f00;
  padding: 50px;
  margin-bottom: 10%;
}
body div#message_clientA p div.titre {
  font-family: "WorkSans-Medium";
  font-size: 2em;
  color: black;
  padding: 50px;
}
body div#message_clientA p div.titre2 {
  font-family: "WorkSans-Medium";
  font-size: 2em;
  color: black;
  padding: 50px;
}
