@import "reset.less";
@import "font.less";

@red: #f00;
@blue : blue;
@white: white;
@black: black;

@titre:3em;
@titre2:2em;
@id : 1em;
@line2:1.3em;

@top: 50px;
@blcTourn : 10%;
@blcTourn2: 5%;


@font-face {
        .fontface(WorkSans-Medium, WorkSans-Medium);
        }
@font-face {
        .fontface(Computer-modern, cmunorm);
        }

body {

  //home
  div#message_home {
      img {
        width: 100%;
        height: auto;
      }
  }
  //client A
  div#message_clientA {

    p {


      div.contentA {
        font-family: "Computer-modern";
        font-size: @id;
        padding: @blcTourn2;
        color: @black;

        img {
          max-width: 100vw;
        }

        article {
          font-family: "WorkSans-Medium";
          font-size: @titre2;
          line-height: @line2;
          color: @black;
          padding: @top;
          //margin-top: @blcTourn;
          margin-bottom: @blcTourn;
        }
      }

      div.contentB {
        margin-left: 200px;
        font-family: "Computer-modern";
        font-size: @id;
        padding: @blcTourn2;
        color: @blue;

        img {
          max-width: 100vw;
        }

        article {
          font-family: "WorkSans-Medium";
          font-size: @titre2;
          color: @blue;
          padding: @top;
          //margin-top: @blcTourn;
          margin-bottom: @blcTourn;
        }

      }

      div.contentC {
        margin-left: 400px;
        font-family: "Computer-modern";
        font-size: @id;
        padding: @blcTourn2;
        color: @red;

        img {
          max-width: 100vw;
        }

        article {
          font-family: "WorkSans-Medium";
          font-size: @titre2;
          color: @red;
          padding: @top;
          //margin-top: @blcTourn;
          margin-bottom: @blcTourn;
        }

      }

      div.titre {

        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      div.titre2 {
        font-family: "WorkSans-Medium";
        font-size: @titre2;
        color: @black;
        padding: @top;
        }
      }
    }
}
