.fontface(@fontname, @fontfile) {
        font-family: '@{fontname}';
        src: url('../fonts/@{fontfile}.eot');
        src: url('../fonts/@{fontfile}.eot?#iefix') format('embedded-opentype'),
             url('../fonts/@{fontfile}.woff') format('woff'),
             url('../fonts/@{fontfile}.ttf') format('truetype'),
             url('../fonts/@{fontfile}.svg#@{fontname}') format('svg');
        font-weight: normal;
        font-style: normal;
}
