/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/WorkSans-Regular.eot');
  src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Regular.woff') format('woff'), url('../fonts/WorkSans-Regular.ttf') format('truetype'), url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../fonts/WorkSans-Medium.eot');
  src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/WorkSans-Medium.woff') format('woff'), url('../fonts/WorkSans-Medium.ttf') format('truetype'), url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Computer-modern';
  src: url('../fonts/cmunorm.eot');
  src: url('../fonts/cmunorm.eot?#iefix') format('embedded-opentype'), url('../fonts/cmunorm.woff') format('woff'), url('../fonts/cmunorm.ttf') format('truetype'), url('../fonts/cmunorm.svg#Computer-modern') format('svg');
  font-weight: normal;
  font-style: normal;
}
body div#message_clientA {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-width: 100vw;
  min-height: 100vw;
}
body div#message_clientA div.contentA {
  padding-left: 5%;
  font-family: "WorkSans-Medium";
  font-size: 3em;
  color: white;
  text-align: left;
}
body div#message_clientB {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-width: 100vw;
  min-height: 100vw;
}
body div#message_clientB div.contentA {
  padding-left: 5%;
  font-family: "WorkSans-Medium";
  font-size: 3em;
  color: white;
  text-align: left;
}
body div#message_clientC p div.contentA {
  padding: 5%;
  height: 680px;
}
body div#message_clientC p div.contentB {
  padding: 5%;
  padding-left: 20%;
  height: 680px;
}
body div#message_clientC p div.contentC {
  padding: 5%;
  padding-left: 40%;
  height: 453.33333333px;
}
body div#message_clientD p div.contentA {
  padding: 5%;
  height: 680px;
}
body div#message_clientD p div.contentB {
  padding: 5%;
  padding-left: 20%;
  height: 680px;
}
body div#message_clientD p div.contentC {
  padding: 5%;
  padding-left: 40%;
  height: 453.33333333px;
}
body div#message_clientE {
  min-width: 100vw;
  min-height: 100vw;
  background-color: blue;
}
