@import "reset.less";
@import "font.less";

@red: #f00;
@blue : blue;
@white: white;
@black: black;
@grey: #A9A9A9;

@titre:3em;
@titre2:2em;
@id : 1em;
@line2:1.3em;

@top: 25%;
@blcTourn : 20%;
@blcTourn2: 5%;

@val1: 10px;
@val2: 5px;
@val3: 20px;

@hauteur:1360px;


@font-face {
        .fontface(WorkSans-Regular, WorkSans-Regular);
        }
@font-face {
        .fontface(WorkSans-Medium, WorkSans-Medium);
        }
@font-face {
        .fontface(Computer-modern, cmunorm);
        }

body {

  //client A conversation
  div#message_clientA {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: @black;
    min-width: 100vw;
    min-height: 100vw;

    div.contentA {
        padding-left:@blcTourn2;
        font-family: "WorkSans-Medium";
        font-size: @titre;
        color: @white;
        text-align: left;
    }
  }


  //client B conversation
  div#message_clientB {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: @black;
    min-width: 100vw;
    min-height: 100vw;

    div.contentA {
        padding-left:@blcTourn2;
        font-family: "WorkSans-Medium";
        font-size: @titre;
        color: @white;
        text-align: left;
    }

  }

    // client C images

    div#message_clientC {
      p {

      div.contentA {
        padding: @blcTourn2;
        //padding-top: @blcTourn;
        //width: 768px;
        height: @hauteur/2;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }

      }

      div.contentB {
        padding: @blcTourn2;
        padding-left: @blcTourn;
        //width: 768px;
        height: @hauteur/2;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }

      }

      div.contentC {
        padding: @blcTourn2;
        padding-left: @blcTourn + 20%;
        //width: 768px;
        height: @hauteur/3;
        img {
          //min-width: 50vw;
          //min-height: 50vw;
        }
      }
    }
  }

  // client D images

  div#message_clientD {
    p {

    div.contentA {
      padding: @blcTourn2;
      //padding-top: @blcTourn;
      //width: 768px;
      height: @hauteur/2;
      img {
        //min-width: 50vw;
        //min-height: 50vw;
      }

    }

    div.contentB {
      padding: @blcTourn2;
      padding-left: @blcTourn;
      //width: 768px;
      height: @hauteur/2;
      img {
        //min-width: 50vw;
        //min-height: 50vw;
      }

    }

    div.contentC {
      padding: @blcTourn2;
      padding-left: @blcTourn + 20%;
      //width: 768px;
      height: @hauteur/3;
      img {
        //min-width: 50vw;
        //min-height: 50vw;
      }
    }
  }
}
    //message E pulse
    div#message_clientE {

          min-width: 100vw;
          min-height: 100vw;
          background-color: blue;
    }
}
